.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-background{
    background-color: transparent;
  }

.dropdown-border {
    border: none;
}

.dropdown-font {
    font-size: 20px;
    color: white;
}